body > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60vw;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: clamp(200px, 40vw, 600px);
}
a {
  text-decoration: none;
}
