.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}

.card div {
  width: 20vw;
}
